

.banner-title {
    color: inherit;
    font-size: 38px;
}



.main-body {
    font-size: 14px;
    margin: 0;
    justify-content: space-between;
    min-height: 100vh;
    
    font-family: Hahmlet;
    
    display: flex;
    flex-direction: column;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


.login-body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.login-container {
    margin: 60px;
    margin-top: 100px;
    width: 300px;
    max-width: 100%;

}

.login-container input {
    padding: 10px;
    width: 100%;
    outline: none;
}


#login-button {
    transition: 1s;
    background-color: rgb(255, 82, 82);
    margin-left: auto;
    display: block;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}


#login-button:hover {
    transition: 1s;
    background-color: rgb(255, 127, 127);
    scale: 1.01;
}




* {
    box-sizing: border-box;
}


header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: 120px;
    display: flex;
    align-items: center;
    padding: 0 52px;
    padding-right: 62px;
    justify-content: space-between;
    
    color: rgb(0, 0, 0);

}

header>nav {
    display: flex;
    gap: 20px;
    font-weight: bold;
}

header>nav>a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}



footer {
    background: #222;
    display: flex;
    justify-content: space-between;
    padding: 37px;
    color: white;
    font-size: 15px;
    margin-top: auto;
}


footer  a {
    color: white;
    text-decoration: none;
  
}

footer > div {
    display: flex;
    align-items: center;
    gap: 20px;
}


.banner-container {
    padding: 100px;
    display: flex;
    gap: 92px;
    justify-content: space-between;
    
    align-items: center;
    background: url(../assets/background.jpg);
    background-size: 100% 100%;
    color: white;
}


.banner-container img {
    width: 400px;
    max-width: 100%;
}

.logo {
    background-image: url(../assets/logo.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
}


.logo2 {
    background-image: url(../assets/logo.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 100px;
}



.description {
    font-size: 14px;
    max-width: 500px;
}

.banner-logo {
    
    height: 100%;
    max-width: 100%;;
}





.demo {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
    max-width: 2000px;
}


.product {
    width: 300px;
  
    max-width: 100%;
    margin: 20px;
}

.product:hover {
    cursor: pointer;
}


.product img {

    max-width: calc(100% - 100px);
   
}


.products {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    max-width: 2000px;
    margin: auto;
    justify-content: space-around;
    overflow-y: scroll;
}


.demo > div {
    scale: 0.96;
    transition: 1s;
    max-width: 340px;
}

.demo > div:hover {
    scale: 1;
    transition: 1s;
}


.demo img {
    max-width: 100%;
}




/* // smartphone */
.selected-tab {
    color: red;
    border-bottom: 2px solid  red;
}



#list-nav-icon {
    display: none;
}

@media screen and (max-width: 820px) {
    #nav {
        display: none;
    }
    #list-nav-icon {
        display: block;
    }
    .banner-title {
        font-size: 20px;
    }

    .description {
        font-size: 15px;
    }
    .banner-container {
        padding: 6px 14px;
        justify-content: center;
       
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }


    footer {
        font-size: 15px;
        flex-direction: column;
    }


    header {
        padding: 8%;
        font-size: 16px;
        
    }

    header > nav {
        width: 250px;
        max-width: 100%;
        position: absolute;
        
        top: 10px;
        right: 10px;
        gap: 30px;
        padding: 24px;
        padding-top: 30px;
        flex-direction: column;
      
        
        background-color: white;
        z-index: 10;

        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border: 1px solid black;
        

    }

    header > nav > a{
        font-size: 16px;
    }

    .logo2 {
        background-image: url(../assets/logosmall.png);
        background-size: 100% 100%;
        width: 32px;
        height: 50px;
        margin-left: 2%;
    }

    .products {
        gap: 10px;
    }
    .product {
        margin: auto;
        border-bottom:1px solid #222;
    }

    .selected-tab {
        color: red;
        border: none;
    }
    
    
    
    


    .login-container {
        margin: auto;
        margin-top: 100px;
        width: max-content;
        max-width: 100%;
    
    }
   
}
























/* prods */

#search-container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 480px) {
        max-width: 100%;
        margin-right: 0px;
        padding: 10px;
        margin-left: 12px;
    }
}



#search-icon{
    position: relative;
    left: -70px;
    top: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 480px) {
        left: -50px;
    }
}

#search-icon:hover{
    cursor: pointer;
}


#search-icon:active{
    animation: 0.4s;;
    scale: 1.1;
}


#search-input {
    height: 50px;
    padding: 16px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 20px;
    width: 300px;
    border-radius: 12px;
    outline: none;
    padding-right: 60px;
    font-weight: bold;
    font-size: 20px;

    @media screen and (max-width: 480px) {
        width: 100%;
        margin-right: 0px;
    }
}






@media screen and (max-width: 820px) {
.image-logo-login {
    display: none;
}
}
